<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    This app was built by Dhaval Kashyap, a web developer who is on a mission to gain technical skills needed to turn ideas into reality.
  </p>
  
   <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'dhaval.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Dhaval Kashyap</h2>
      <br />
      <p>
        Dhaval Kashyap is a full stack web application developer and user experience product manager. He consulted and worked for Fortune 500 companies like IBM and Norfolk Southern. He is also a Combat Medic in the US Army. 
      </p>
    </div>
  </div>
<br class="clear" />
<br />
<br />
<br />
<br />

</div>